/* Note: All code in this project was arranged for a 'mobile-first' design */
/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Poppins:wght@500&display=swap");

/* wild card selector to override browser default styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* general styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffef0a;
  font-family: "Oxygen", sans-serif;
  background: url(../images/background_tree_yf.webp) no-repeat center
    center/cover;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffef0a;
  text-align: center;
  font-size: 170%;
  padding: 10% 6% 2% 6%;
}

/* main content */
main {
  /* push footer down */
  flex: 1 0 auto;
}

.move-time-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  height: 55px;
  margin: 0 auto;
}

.moves-area {
  text-align: center;
  width: 40%;
  border-radius: 8px;
  padding: 5px;
  margin: 8px 4px 0px 4px;
  font-size: 85%;
  font-weight: bold;
  background-color: #ffef0a;
  color: #2a2a2a;
}

.time-area {
  text-align: center;
  width: 40%;
  border-radius: 8px;
  padding: 5px;
  margin: 8px 4px 0px 4px;
  font-size: 85%;
  font-weight: bold;
  background-color: #ffef0a;
  color: #2a2a2a;
}

/* credit for timer code that was adjusted for my own use: tutorial at the following address, https://github.com/adipurdila/countdown-timer/tree/main */
#timer-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

/* memory game */
.overall-game-area {
  display: flex;
  flex-wrap: wrap;
  padding: 1% 2% 0% 2%;
}

.grid-section-area {
  height: 300px;
  width: 300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: calc(25% - 8px);
  height: calc(25% - 8px);
  margin: 4px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: transform 0.5s;
}

.cards:active {
  transform: scale(0.96);
  transition: transform 0.2s;
}

.cards.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 2px;
  position: absolute;
  border-radius: 5px;
  background: #ffef0a;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

.pose-name-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pose-name-area {
  text-align: center;
  width: 240px;
  border-radius: 8px;
  padding: 5px;
  margin: 8px 4px 0px 4px;
  font-size: 85%;
  font-weight: bold;
  background-color: #ffef0a;
  color: #2a2a2a;
}

.challenge-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.challenge-btn {
  margin: 4px;
  text-align: center;
  width: 240px;
  border-radius: 8px;
  padding: 5px;
  margin: 8px 4px 0px 4px;
  font-size: 85%;
  font-weight: bold;
  background-color: #fffae6;
  color: #2a2a2a;
  box-shadow: 0.1rem 0.1rem #2a2a2a;
}

.reset-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reset-btn {
  margin: 2px;
  text-align: center;
  width: 240px;
  border-radius: 8px;
  padding: 5px;
  margin: 8px 4px 0px 4px;
  font-size: 85%;
  font-weight: bold;
  background-color: #fffae6;
  color: #2a2a2a;
  box-shadow: 0.1rem 0.1rem #2a2a2a;
}

/* footer */
footer {
  background-color: #d47cfa;
}

.container-footer-divs {
  color: #000000;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  border-top: 1px solid #000000;
}

.footer-divs p {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-weight: bold;
}

/* credit for socials code: whisper rs portfolio project 1*/
.socials {
  text-align: center;
  padding: 12px;
  display: flex;
  justify-content: space-evenly;
  letter-spacing: 18px;
  list-style-type: none;
  color: #000000;
}

.socials i {
  font-size: 170%;
  color: #000000;
}

.footer-logo {
  max-width: 3rem;
  display: flex;
  justify-content: center;
  padding: 25% 15% 0% 15%;
}

.git-hub-div {
  font-size: 170%;
}

#timer-running,
#timer-end {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffef0a;
  font-family: "Oxygen", sans-serif;
  background: url(../images/background_tree_yf.webp) no-repeat center
    center/cover;
}

#timer-running.hidden {
  animation: fadeOut 1.5s forwards;
}

#timer-end {
  display: none;
  opacity: 0;
}

#timer-end.visible {
  display: flex;
  height: 100vh;
  justify-content: center;
  animation: fadeIn 1.5s forwards 1.5s;
}

.time-out-container {
  display: flex;
  justify-content: center;
  height: 160px;
  padding-top: 60px;
}

.retry-container {
  display: flex;
  justify-content: center;
  padding: 0px 10px 80px 10px;
}

.retry-btn {
  margin: 2px;
  text-align: center;
  width: 240px;
  border-radius: 8px;
  padding: 5px;
  margin: 8px 4px 0px 4px;
  font-size: 85%;
  font-weight: bold;
  background-color: #fffae6;
  color: #2a2a2a;
  box-shadow: 0.1rem 0.1rem #2a2a2a;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* header */
  h1 {
    font-size: 200%;
    padding: 6% 4% 2% 4%;
  }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /* header */
  h1 {
    font-size: 220%;
    padding: 4% 2% 1% 2%;
  }
}

/* Very Large devices (large laptop screens and monitors, 1440px and up) */
@media screen and (min-width: 1440px) {
  /* header */
  h1 {
    font-size: 240%;
    padding: 4% 2% 1% 2%;
  }

  .footer-divs p {
    display: flex;
    justify-content: center;
    padding: 1em;
    font-weight: bold;
    font-size: 106%;
  }
}
