/* Note: All code in this project was arranged for a 'mobile-first' design */
/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Poppins:wght@500&display=swap");

/* wild card selector to override browser default styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* general styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
  font-family: "Oxygen", sans-serif;
}

/* header */
header {
  background-color: lightpink;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
  text-align: center;
  font-size: 170%;
  padding: 8% 10% 10% 10%;
}

/* main content */
main {
  background-color: lightblue;
  /* push footer down */
  flex: 1 0 auto;
}

/* footer */
footer {
  background-color: lightgoldenrodyellow;
}

.container-footer-divs {
  color: #000000;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  border-top: 1px solid #000000;
}

.footer-divs p {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-weight: bold;
}

/* credit for socials code: whisper rs portfolio project 1*/
.socials {
  text-align: center;
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  letter-spacing: 18px;
  list-style-type: none;
  color: #000000;
}

.socials i {
  font-size: 170%;
  color: #000000;
}

.footer-logo {
  max-width: 3rem;
  display: flex;
  justify-content: center;
  padding: 25% 15% 0% 15%;
}

.git-hub-div {
  font-size: 170%;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* header */
  h1 {
    font-size: 200%;
    padding: 4% 2% 2% 2%;
  }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /* header */
  h1 {
    font-size: 220%;
    padding: 3% 2% 2% 2%;
  }
}

/* Very Large devices (large laptop screens and monitors, 1440px and up) */
@media screen and (min-width: 1440px) {
  /* header */
  h1 {
    font-size: 240%;
    padding: 2% 2% 2% 2%;
  }
}
