/* Note: All code in this project was arranged for a 'mobile-first' design */
/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Poppins:wght@500&display=swap");

/* wild card selector to override browser default styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* general styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
  font-family: "Oxygen", sans-serif;
}

/* header */
header {
  background-color: lightpink;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

/* main content */
main {
  background-color: lightblue;
  /* push footer down */
  flex: 1 0 auto;
}

/* footer */
footer {
  background-color: lightgoldenrodyellow;
}
